
html {
  color-scheme: light dark;
}

/* Fix for Android Chrome font boosting */
html * { max-height: 1000000px; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('/assets/img/bg-invert.png'); 
  background-attachment: fixed;
  image-rendering: crisp-edges;
  font-family: var(--tob-font-family);
  font-size: var(--tob-base-font-size);
  font-weight: var(--tob-weight-regular);
  line-height: var(--tob-line-height);
  background-color: var(--tob-theme-bg);
  color: var(--tob-theme-text);
}

:root[data-theme='dark'] body {
  background-image: url('/assets/img/bg.png'); 
}

body.tob-menu-active {
  position: fixed;
}

/* TEXT SELECTION */ 

::selection {
  color: var(--tob-color-white);
  background: var(--tob-color-red);
  text-shadow: -1px -1px var(--tob-color-red-bold);
  /* box-shadow: 4px 4px var(--tob-color-red-bold); */
}


/* HEADING AND TEXT */

h1 {
  font-size: var(--tob-font-size-huge);
  font-weight: var(--tob-weight-bold);
  line-height: 1.3;
  color: var(--tob-theme-title);
  margin: 0;
}

h2 {
  font-size: var(--tob-font-size-large);
}

h3 {
  font-size: var(--tob-font-size);
  line-height: 1;
  font-weight: var(--tob-weight-bold);
}

@media (--tob-media-small) {
  h1 {
    font-size: var(--tob-font-size-large);
  }
  h2 {
    font-size: var(--tob-font-size-medium);
  }
}

p {
  margin: var(--tob-space-24) 0;
}

blockquote {
  margin: 0;
  background: var(--tob-theme-bg);
  padding: 16px;
  border-left: 4px solid var(--tob-theme-title);
  font-style: italic;
}

/* LIST */

ul {
  list-style-type: square;
  list-style-position: outside;
  margin: var(--tob-space-24) 0;
  padding: 0 0 0 var(--tob-space-16);
}

li {
  margin: var(--tob-space-8) 0;
}

li ul {
  margin: var(--tob-space-8) 0;
}

/* ul li::marker {
  line-height: 1.5;
  content: "■   ";
  font-size: 0.7em;
} */

/* LINKS  */

a, button {
  padding: 1px;
  color: var(--tob-theme-link-text);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--tob-theme-link-text-shadow);
    background-color: var(--tob-theme-link-bg);
    box-shadow: 2px 2px var(--tob-theme-link-bg-shadow);
  }
}

/* SECTIONS */

section {
  margin: var(--tob-space-80) 0;
}

.tob-wrapper {
  margin: auto;
  max-width: var(--tob-view-width-content);
  padding: 0 var(--tob-space-32);
}

@media (--tob-media-tablet) {
  section {
    margin: var(--tob-space-64) 0;
  }
  .tob-wrapper {
    padding: 0 var(--tob-space-24);
  }
}

@media (--tob-media-phone) {
  .tob-wrapper {
    padding: 0 var(--tob-space-16);
  }
}

/* ASSETS */

figure {
  margin: var(--tob-space-32) 0;
  text-align: center;
}

figcaption {
  font-size: var(--tob-font-size-small);
  color: var(--tob-theme-caption);
}

img {
  image-rendering: auto;
  width: 100%;
}

img, video {
  max-width: 100%;
}

/* FOOTER */

footer {
  margin-top: var(--tob-space-80);
  padding: var(--tob-space-32);
  /* background-color: var(--tob-theme-bg); */
}

@media (--tob-media-tablet) {
  footer {
    margin-top: var(--tob-space-64);
    padding: var(--tob-space-24);
  }
}

@media (--tob-media-phone) {
  footer {
    padding: var(--tob-space-16);
  }
}

.tob-copyright {
  margin: 0;
  font-size: var(--tob-font-size-small);
  color: var(--tob-theme-caption);
}
