
html {
  color-scheme: light dark;
}

/* Fix for Android Chrome font boosting */
html * { max-height: 1000000px; }

html, body{
  width: 100%;
  height: 100%;
  margin: 0;

  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--tob-font-family);
  font-size: var(--tob-base-font-size);
  font-weight: var(--tob-weight-regular);
  line-height: var(--tob-line-height);
  background-color: var(--tob-color-bg);
  color: var(--tob-color-text);
}

/* LINKS  */

a {
  color: var(--tob-color-accent);
  text-decoration: none;
  font-weight: var(--tob-weight-medium);
  &:hover {
    background-color: var(--tob-color-accent);
    color: var(--tob-color-light);
  }
}

