
/* HEADER */

header {
  padding: var(--tob-space-32) 0;
  margin-bottom: var(--tob-space-48);
}

@media (--tob-media-tablet) {
  header {
    margin-bottom: var(--tob-space-32);
  }
}


body.tob-menu-active header > .tob-wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.tob-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* LOGO */

.tob-logo {
  align-items: center;
  padding: 2px;
  font-size: var(--tob-font-size-medium);
  font-weight: var(--tob-weight-bold);
  cursor: pointer;
  z-index: 10;
}
