
/* HEADER */

header {
  margin-bottom: var(--tob-space-64);
  padding: var(--tob-space-32) 0;
}

.tob-header__wrapper {
  margin: auto;
  max-width: var(--tob-view-max);
}

.tob-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--tob-space-32);
  position: relative;
}

/* LOGO */

a.tob-logo {
  display: flex;
  align-items: center;
  gap: var(--tob-space-16);
  cursor: pointer;
  color: var( --tob-color-text);
  &:hover {
    background-color: transparent;
    color: var( --tob-color-text);
  }
}

.tob-logo__container {
  position: relative;
  width: var(--tob-space-64);
  height: var(--tob-space-64);
  background-color: var(--tob-color-dark);
}

.tob-logo__tree {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

h1 {
  font-weight: var(--tob-weight-bold);
  font-size: var(--tob-font-size-large);
  line-height: var(--tob-line-height-tight);
  margin: 0;
}

/* TOP NAV  */

nav {
  font-family: "Tiny5", monospace;
  font-size: 24px;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--tob-space-48);
  line-height: 0;
}

nav a {
  padding: 4px;
}

/* THEME SWITCHER */

.tob-theme-switcher {
  width: 32px;
  height: 32px;
  line-height: 0;
  padding: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}


[data-theme="dark"] .tob-theme-switcher .tob-theme-dark-icon {
  display: none;
}

[data-theme="light"] .tob-theme-switcher .tob-theme-light-icon {
  display: none;
}