

.tob-page-header {
  position: relative;
  color: var(--tob-theme-caption);
  font-size: var(--tob-font-size-small);
  line-height: 1.5;
  margin-bottom: var(--tob-space-32);
}

.tob-page-header p {
  margin: var(--tob-space-8) 0 0;
}

/* TAGS */

ul.tob-tags {
  padding: 0;
  list-style: none;
}

.tob-tags li {
  display: inline-block;
}

.tob-tags li:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin: 0 var(--tob-space-8) var(--tob-space-4);
  width: 4px;
  height: 4px;
  background-color: var(--tob-theme-caption);
}


/* EXCERPT and AWARDS */

.tob-excerpt {
  background: var(--tob-theme-bg);
  padding: var(--tob-space-16);
  border-left: var(--tob-space-4) solid var(--tob-theme-title);
  font-style: italic;
}

/* EMBEDDED VIDEO */

.tob-embedded-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.tob-nowidevideo {
  padding-bottom: 75%;
}

.tob-embedded-video > iframe,
.tob-embedded-video > object,
.tob-embedded-video > embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}