
:root {
  /* FONT */
  --tob-font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  --tob-font-family-pixelated: "VT323", monospace;
  --tob-base-font-size: 20px;

  /* FONT SIZE */
  --tob-font-size-xs: 0.6rem;
  --tob-font-size-s: 0.762rem;
  --tob-font-size: 1rem;
  --tob-font-size-large: 1.75rem;

  /* FONT WEIGHTS */
  --tob-weight-regular: 300;
  --tob-weight-medium: 400;
  --tob-weight-bold: 600;

  /* LINE HEIGHT */
  --tob-line-height-tight: 1;
  --tob-line-height: 1.5;

   /* SPACING */
  --tob-space-16: 16px;
  --tob-space-24: 24px;
  --tob-space-32: 32px;
  --tob-space-48: 48px;
  --tob-space-64: 64px;

  /* VIEWS */
  --tob-view-max: 1024px; /* 1024px */

  /* COLORS */ 
  --tob-color-dark: #2a2c22;
  /* --tob-color-light: #fafafa; */
  --tob-color-light: #fffef7;
  --tob-color-accent: #576D42;
  --tob-color-accent: #68874e;
}

/* MEDIA QUERIES */
@custom-media --tob-media-view-max (max-width: var(--tob-view-max));

/* THEMES */
:root,
:root[data-theme='light'] {
  /*--tob-color-bg: #fafafa; */
  /* #fa0077; */
  /* --tob-color-dark: #070707; */

  --tob-color-bg: var(--tob-color-light);
  --tob-color-text: var(--tob-color-dark);
  --tob-color-hover: var(--tob-color-dark);
  --tob-color-meta: #929292;
  --tob-color-gray: #656565;
}

:root[data-theme='dark'] {
  --tob-color-bg: var(--tob-color-dark);
  --tob-color-text: var(--tob-color-light);
  --tob-color-hover: var(--tob-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tob-color-bg: var(--tob-color-dark);
    --tob-color-text: var(--tob-color-light);
    --tob-color-hover: var(--tob-color-light);
  }
}