
:root {
  /* FONT */
  --tob-font-family: "Instrument Sans", sans-serif;
  --tob-base-font-size: 20px;

  /* FONT SIZE */
  --tob-font-size-small: 16px;
  --tob-font-size: 20px;
  --tob-font-size-medium: 26px;
  --tob-font-size-large: 30px;
  --tob-font-size-huge: 54px;

  /* FONT WEIGHTS */
  --tob-weight-regular: 500;
  --tob-weight-medium: 600;
  --tob-weight-bold: 700;

  /* LINE HEIGHT */
  --tob-line-height-tight: 1;
  --tob-line-height: 1.5;

   /* SPACING */
  --tob-space-4: 4px;
  --tob-space-8: 8px;
  --tob-space-16: 16px;
  --tob-space-24: 24px;
  --tob-space-32: 32px;
  --tob-space-48: 48px;
  --tob-space-64: 64px;
  --tob-space-80: 80px;

  /* VIEWS */
  --tob-view-width-content: 1024px; /* 1024px */
  --tob-view-width-max-grid: 2040px;

  /* GREEN THEME - COLORS */ 
  /* 
  --tob-color-dark: #2a2c22;
  --tob-color-light: #fffef7;
  --tob-color-accent: #576D42;
  --tob-color-accent: #68874e;
  */
  
  /* COLORS */ 
  --tob-color-beige-subtle: #f4f1ea;
  --tob-color-beige: #d6d1b1; /* #ebe8d2; */
  --tob-color-red: #eb0032;
  --tob-color-red-bold: #75001e;
  --tob-color-red-dark: #290006;
  --tob-color-cyan: #2fffdc; /* #14ffcd*/
  --tob-color-cyan-bold: #1fcfb2;/* #0e9270; */

  --tob-color-white: #fffef7;
  --tob-color-gray-subtle: #e7e7e7;
  --tob-color-gray: #676767;
}

/* THEMES */
:root,
:root[data-theme='light'] {
  --tob-theme-link-text: var(--tob-color-red);
  --tob-theme-link-text-shadow: var(--tob-color-white);
  --tob-theme-link-bg: var(--tob-color-red);
  --tob-theme-link-bg-shadow: var(--tob-color-beige);

  --tob-theme-portfolio-title-shadow: var(--tob-color-beige);
  --tob-theme-portfolio-bg: var(--tob-color-white);
  
  --tob-theme-title: var(--tob-color-cyan-bold);
  --tob-theme-text: var(--tob-color-red-dark);
  --tob-theme-caption: var(--tob-color-gray);
  --tob-theme-bg: var(--tob-color-white);
  --tob-theme-footer: var(--tob-color-beige-subtle);
}

:root[data-theme='dark'] {
  --tob-theme-link-text: var(--tob-color-cyan);
  --tob-theme-link-text-shadow: var(--tob-color-red-bold);
  --tob-theme-link-bg: var(--tob-color-cyan);
  --tob-theme-link-bg-shadow: var(--tob-color-red-bold);

  --tob-theme-portfolio-title-shadow: var(--tob-color-red-bold);
  --tob-theme-portfolio-bg: var(--tob-color-red-dark);
  
  --tob-theme-title: var(--tob-color-red);
  --tob-theme-text: var(--tob-color-white);
  --tob-theme-caption: var(--tob-color-gray-subtle);
  --tob-theme-bg: var(--tob-color-red-dark);
  --tob-theme-footer: var(--tob-color-red-dark);
}

/* MEDIA QUERIES */
@custom-media --tob-media-grid-break-1560 (max-width: 1560px);
@custom-media --tob-media-grid-break-1352 (max-width: 1352px);
@custom-media --tob-media-tablet (max-width: 1039px);
@custom-media --tob-media-small (max-width: 960px);
@custom-media --tob-media-phone (max-width: 640px);