
:root {
  /* FONT */
  --tob-font-family: "Instrument Sans", sans-serif;
  --tob-base-font-size: 20px;

  /* FONT SIZE */
  --tob-font-size: 20px;
  --tob-font-size-medium: 26px;
  --tob-font-size-large: 30px;
  --tob-font-size-huge: 54px;

  /* FONT WEIGHTS */
  --tob-weight-regular: 500;
  --tob-weight-medium: 600;
  --tob-weight-bold: 700;

  /* LINE HEIGHT */
  --tob-line-height-tight: 1;
  --tob-line-height: 1.5;

   /* SPACING */
  --tob-space-4: 4px;
  --tob-space-8: 8px;
  --tob-space-16: 16px;
  --tob-space-24: 24px;
  --tob-space-32: 32px;
  --tob-space-48: 48px;
  --tob-space-64: 64px;
  --tob-space-80: 80px;

  /* VIEWS */
  --tob-view-width-content: 1024px; /* 1024px */
  --tob-view-width-max-grid: 2040px;

  /* GREEN THEME - COLORS */ 
  /* 
  --tob-color-dark: #2a2c22;
  --tob-color-light: #fffef7;
  --tob-color-accent: #576D42;
  --tob-color-accent: #68874e;
  */
  
  /* RED THEME - COLORS */ 
  --tob-color-dark: #290006;
  --tob-color-light: #fffef7;
  --tob-color-light-0: #d6d1b1; /* #ebe8d2; */
  --tob-color-primary: #eb0032;
  --tob-color-primary-variant: #75001e;
  --tob-color-secondary: #2fffdc; /* #14ffcd*/
  --tob-color-secondary-dark: #1fcfb2;/* #0e9270; */
  --tob-color-secondary-slight: #31ffdc;

  --tob-color-gray: #676767;
  --tob-color-light-gray: #e7e7e7;
}

/* THEMES */
:root,
:root[data-theme='light'] {
  --tob-theme-link-text: var(--tob-color-primary);
  --tob-theme-link-text-shadow: var(--tob-color-light);
  --tob-theme-link-bg: var(--tob-color-primary);
  --tob-theme-link-bg-shadow: var(--tob-color-light-0);

  --tob-theme-portfolio-tag: var(--tob-color-gray);
  --tob-theme-portfolio-title-shadow: var(--tob-color-light-0);
  --tob-theme-portfolio-bg: var(--tob-color-light);

  --tob-theme-title: var(--tob-color-secondary-dark);

  --tob-theme-bg: var(--tob-color-light);
  --tob-theme-text: var(--tob-color-dark);
}

:root[data-theme='dark'] {
  --tob-theme-link-text: var(--tob-color-secondary);
  --tob-theme-link-text-shadow: var(--tob-color-primary-variant);
  --tob-theme-link-bg: var(--tob-color-secondary);
  --tob-theme-link-bg-shadow: var(--tob-color-primary-variant);

  --tob-theme-portfolio-tag: var(--tob-color-light-gray);
  --tob-theme-portfolio-title-shadow: var(--tob-color-primary-variant);
  --tob-theme-portfolio-bg: var(--tob-color-dark);

  --tob-theme-title: var(--tob-color-primary);

  --tob-theme-bg: var(--tob-color-dark);
  --tob-theme-text: var(--tob-color-light);
}

/* MEDIA QUERIES */
@custom-media --tob-media-grid-break-1560 (max-width: 1560px);
@custom-media --tob-media-grid-break-1352 (max-width: 1352px);
@custom-media --tob-media-tablet (max-width: 1039px);
@custom-media --tob-media-small (max-width: 960px);
@custom-media --tob-media-phone (max-width: 640px);