
/* PORTFOLIO - GRID */

.tob-gallery {
  display: grid;
  padding: 0 var(--tob-space-32);
  gap: var(--tob-space-32);
  margin-bottom: var(--tob-space-32);
}

.tob-grid-2 {
  grid-template-columns: repeat(2,minmax(0,1fr));
}

.tob-grid-3 {
  grid-template-columns: repeat(3,minmax(0,1fr));
}

.tob-grid-4 {
  grid-template-columns: repeat(4,minmax(0,1fr));
}

.tob-grid-5 {
  grid-template-columns: repeat(5,minmax(0,1fr));
}

.tob-grid-6 {
  grid-template-columns: repeat(6,minmax(0,1fr));
}

/* PORTFOLIO - ITEM */

.tob-gallery-item {
  position: relative;
  aspect-ratio: 1;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 233ms;
  overflow: hidden;
  &:hover {
    transform: scale(1.05);
  }
}

.tob-gallery-item > * {
  transition-property: padding;
  transition-duration: 233ms;
  padding: 0%;
  border: 0px solid transparent;
}

.tob-gallery-item:hover > * {
  padding: 5%;
}

.tob-gallery-item img {
  image-rendering: optimizeQuality;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GALLERY DESCRIPTION */

.tob-gallery-item-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}