
$insetPercent: 89.9%;

@keyframes tob-anim-portfolio-item-background-top-left {
  0% {
    clip-path: inset(0 0 $insetPercent 0);
    transform: translateY(0%);
  }
  45% {
    clip-path: inset(0 $insetPercent 0 0);
    transform: translateY(0%);
  }
  100% {
    clip-path: inset(0 $insetPercent 0 0);
    transform: translateY(100%);
  } 
}


@keyframes tob-anim-portfolio-item-background-bottom-left {
  0% {
    clip-path: inset(0 $insetPercent 0 0);
  }
  45% {
    clip-path: inset($insetPercent 0 0 0);
    transform: translateX(0%);
  }
	100% {
    clip-path: inset($insetPercent 0 0 0);
    transform: translateX(100%);
  }
}

@keyframes tob-anim-portfolio-item-background-bottom-right {
  0% {
    clip-path: inset($insetPercent 0 0 0);
  }
  45% {
    clip-path: inset(0 0 0 $insetPercent);
    transform: translateY(0%);
  }
	100% {
    clip-path: inset(0 0 0 $insetPercent);
    transform: translateY(-100%);
  }
}

@keyframes tob-anim-portfolio-item-background-top-right {
  0% {
    clip-path: inset(0 0 0 $insetPercent);
  }
  45% {
    clip-path: inset(0 0 $insetPercent 0);
    transform: translateX(0%);
  }
	100% {
    clip-path: inset(0 0 $insetPercent 0);
    transform: translateX(-100%);
  }
}

.tob-portfolio-item-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

@define-mixin galleryBg $position {
  .tob-portfolio-item-background__$(position) {
    @mixin-content;
    position: absolute;
    content: "";
    width: 50%;
    height: 50%;
    background-color: var(--tob-theme-portfolio-bg);
    animation-timing-function: linear;
    animation-duration: 833ms;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-name: tob-anim-portfolio-item-background-$position;
    transition: opacity 0ms;
    transition-delay: 233ms;
    opacity: 0;
  }

  .tob-portfolio-item:hover .tob-portfolio-item-background__$(position) {
    opacity: 1;
    transition-delay: 0ms;
    animation-play-state: running;
  }
}

@mixin galleryBg top-left {
  top: 0;
  left: 0;
}

@mixin galleryBg bottom-left {
  bottom: 0;
  left: 0;
}

@mixin galleryBg bottom-right {
  bottom: 0;
  right: 0;
}

@mixin galleryBg top-right {
  top: 0;
  right: 0;
}