<header>
  <div class="tob-wrapper">
    <div class="tob-header-inner">

      <a class="tob-logo">
        tobiasbu
      </a> 

      <nav>
        <ul>
      {% for page in navigation.top %}
        <li>
          <a href="{{page.url}}">{{page.text}}</a>
        </li>
      {% endfor %}
        <li>
          {% include './theme-switcher.njk' %}
        </li>
        </ul>
      </nav>
    </div>
  </div>
</header>