<header class="tob-header">
  <div class="tob-wrapper">
    <div class="tob-header-inner">

      <a class="tob-logo" href="/">
        tobiasbu
      </a> 

      {% include './navigation.njk' %}
     
    </div>
  </div>
</header>