
<button class="tob-theme-switcher" type="button" data-theme-switcher=""> 
  {% svg "moon", "Switch to dark theme", "tob-theme-dark-icon" %}
  {% svg "sun", "Switch to light theme", "tob-theme-light-icon" %}
</button>