---
layout: article.njk
title: About
permalink: /about.html
---
<div class="tob-about">
  <div class="tob-article-content">
{% markdown %}
I'm Tobias Beise Ulrich, a game developer based in Brazil. 
I consider myself a generalist programmer working with different solutions and
technologies for about 10 years. 

My main interests are juicy and _radical_ game development and explore game 
engines (and dream with my own). Right now, I'm back to business! After some
years out of the game development market, I'm trying to get involved more
directly.

Currently, I'm working at [Widlife Studios](https://wildlifestudios.com) as Full-stack Engineer. 

## Contact

If you are interested in my work, let's get in touch! :)

Feel free to reach me via email [tobiasbulrich@gmail.com](mailto:tobiasbulrich@gmail.com). You can also connect with me
via [LinkedIn](https://www.linkedin.com/in/tobiasbu) or [GitHub](https://github.com/tobiasbu).

## About this site

This site holds mostly my portfolio. I want to bring back my blog but currently my writting side is in hiatus.

The design was inspired from my friend's site [Arts By Lucas](https://lucas.art/). I used [11ty]() for site generation and 
the [Eleventy Excellent](https://eleventy-excellent.netlify.app/) as base project. You can find the source code in
[this repository](https://github.com/tobiasbu/site) and it being currently [hosted by GitHub](https://github.com/tobiasbu/tobiasbu.github.io).

The site source-code is licensed under [AGPLv3](https://www.gnu.org/licenses/agpl-3.0.en.html) and its contents
like the images used in the portfolio are not allowed to be shared due their commercial nature.
{% endmarkdown %}
  </div>
  <aside>
    <figure class="tob-about-portrait">
      <img src="assets/img/me.jpg" />
      <figcaption>
        Me and my cat Arroz
      </figcaption>
    </figure>
  </aside>
</div>