---
layout: base.njk
permalink: /index.html
---
<main class="tob-work">
  <section class="tob-intro">
    <div class="tob-wrapper">
      <h1 class="tob-intro">
        <span>Tobias Beise Ulrich</span> is an creative game developer based in Brazil.
      </h1>
    </div>
  </section>

  {% set gallery =  work.favorites %}
  {% set gallery_desc = true %}
  {% include "partials/portfolio-grid.njk" %}

  {% set gallery =  work.highlights %}
  {% include "partials/portfolio-grid.njk" %}

  {% set gallery =  work.others %}
  {% include "partials/portfolio-grid.njk" %}
</main>

<footer>
Copyright © Tobias Beise Ulrich 2024
</footer>
