---
layout: base.njk
permalink: /index.html
---
<main class="tob-work">
  <section class="tob-intro">
    <div class="tob-wrapper">
      <h1 class="tob-intro">
        Tobias Beise Ulrich is an creative game developer based in Brazil.
      </h1>
    </div>
  </section>
  
  <section class="tob-portfolio">
    {% set gallery =  work.favorites %}
    {% set gallery_desc = true %}
    {% include "partials/portfolio-grid.njk" %}

    {% set gallery =  work.highlights %}
    {% include "partials/portfolio-grid.njk" %}

    {% set gallery =  work.others %}
    {% include "partials/portfolio-grid.njk" %}
  </section>

</main>

<footer>
Copyright © Tobias Beise Ulrich 2024
</footer>
