---
layout: base.njk
permalink: /index.html
---
<section class="tob-intro">
  <div class="tob-wrapper">
    <h1>
      Tobias Beise Ulrich is a creative game developer based in Brazil.
    </h1>
  </div>
</section>

<section class="tob-portfolio">
  {% set gallery_info = true %}
  
  {% set gallery =  work.favorites %}
  {% include "partials/portfolio/gallery.njk" %}

  {% set gallery =  work.highlights %}
  {% include "partials/portfolio/gallery.njk" %}

  {% set gallery =  work.others %}
  {% include "partials/portfolio/gallery.njk" %}
</section>
