---
layout: base.njk
pagination:
  data: work
  size: 1
  alias: item
  resolve: values
permalink: "work/{{ (item.slug if item.slug else item.name) | slugify }}.html"
---

{% set slug = (item.slug if item.slug else item.name) | slugify %}


{% from "macros/work.njk" import macro_work_date, macro_work_img_gallery %}
{% from "macros/commons.njk" import macro_tags %}

{% macro macro_award(award) %}
<li>
  {{ award | dump }}
</li>
{% endmacro %}

<article class="tob-wrapper">
  <header class="tob-page-header tob-portfolio-item-info">
    <h1>
      {{ item.name }}
      {% if item.subtitle %}
        - {{ item.subtitle }}
      {% endif %}
    </h1>
    {% if item.tags %}
      {{  macro_tags(item.tags) }}
    {% endif %}
    <p class="tob-date">
      {{ macro_work_date(item.date) }}
    </p>
  </header>

  {% set workImg = "/assets/img/work/thumbnails/" + item.featuredImg %}

  {% if item.about %}
    {% if item.featuredMedia and item.featuredMedia.enabled == true %}
      <div class="tob-featured-media">
        {% if item.featuredMedia.embedVideo %}
          {% embeddedvideo item.featuredMedia.embedVideo %}
        {% elif item.featuredMedia.centered == true %}
            <img src="{{ workImg }}" 
                aria-label="{{ item.title }}" 
                alt="{{ item.excerpt }}"
            />
        {% elif item.featuredMedia.video %}
          {% video item.featuredMedia.video, { wide: true} | merge(item.featuredMedia.options) %}
        {% else %}
          {{ macro_work_img_gallery(slug, item.featuredMedia.type) }}
        {% endif %}
        {% if item.featuredMedia.description %}
          <p class="tob-caption">
          {% markdown item.featuredMedia.description %}
          </p>
        {% endif %}
      </div>
    {% else %}
       <div class="tob-featured-media">
          <img src="{{ workImg }}" 
              aria-label="{{ item.title }}" 
              alt="{{ item.excerpt }}" 
          />
      </div>
    {% endif %}

    {{ item.about | renderContent("njk,md") | safe }}

    {% if item.story %}
      <h2>Story</h2>
      {% markdown %}
        {{ item.story }}
      {% endmarkdown %}
    {% endif %}

    {% if item.links %}
       <h2>Related Links</h2>
       <ul class="tob-links">
        {{ item.links | map("<li><a href=\"$2\">$1</a></li>") | safe }}
      </ul>
    {% endif %}

  {% else %}
    <h2>Coming soon...</h2>

    <img src="/assets/img/pika-under-construction.gif" style="width: 50%;" />

    <p>Page under construction!</p>
    <p>I'm writing each page project and releasing it on demand. Please visit us again soon. Thank you for your understanding!</p>
  {% endif %}

  {{ content | safe }}

</article>