
<div class="tob-portfolio-gallery tob-portfolio-grid-{{ gallery.grid }}">
  {% for workItem in gallery.items %}

    {% set className = "tob-gallery-item" %}
    {% set className = "tob-portfolio-item" %}
    {% if gallery.grid == 3 and loop.last %}
       {% set className = className + " tob-portfolio-item-wide-small" %}
    {% endif %}

    <a class="{{ className }}">
      <div class="tob-portfolio-item-content">
        <div class="tob-portfolio-item-background">
          <span class="tob-portfolio-item-background__top-left"></span>
          <span class="tob-portfolio-item-background__bottom-left"></span>
          <span class="tob-portfolio-item-background__top-right"></span>
          <span class="tob-portfolio-item-background__bottom-right"></span>
        </div>

      {% set workImg = "assets/img/work/" + workItem.img %}

      {% if workItem.video %}
        {% video workItem.video, workImg, workItem.style %}

      {% else %}

        {% set style = "" %}
        {% if workItem.style.position %}
          {% set style = style + "object-position: " + workItem.style.position + ";" %}
        {% endif %}

        {% if workItem.style.pixelated %}
          {% set style = style + "image-rendering: pixelated;" %}
        {% endif %} 

        <img src="{{ workImg }}" 
          aria-label="{{ workItem.name }}" 
          alt="{{ workItem.name }}"
          {% if style %}
          style="{{ style }}"
          {% endif %} 
        />

      {% endif %}
    </div>

    {% if gallery_info == true %}
      <div class="tob-portfolio-item-info">
        <span class="tob-portfolio-item-info-tag tob-tag-type">{{ workItem.type }}</span>
        <span class="tob-portfolio-item-info-tag tob-tag-year">{{ workItem.year }}</span>
        {% if workItem.tech %}
          <span class="tob-portfolio-item-info-tag tob-tag-tech">
            {{ workItem.tech }}
          </span>
        {% endif %}
        {% if workItem.awards %}
          <span class="tob-portfolio-item-info-tag tob-tag-award">
            {% svg "trophy" %}
          </span>
        {% endif %}
      </div>
    {% endif %}

    </a>
  {% endfor %}
</div>