

<script>{% getBundle "jsBundle", "jsBundle-inline" %}</script>

{% jsBundle "jsBundle-inline" %}
{% include "_js/mobile-menu.js" %}
{% include "_js/theme-switcher.js" %}
{% endjsBundle %}


{% if jsInline %}
  <script>{% getBundle "jsPage", "jsPage-inline" %}</script>
  {% jsPage "jsPage-inline" %}
  {% include "_js/" + jsInline %}
  {% endjsPage %}
{% endif %}