{# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,300;1,600" rel="stylesheet">

{# Styles #}
{%- if eleventy.env.runMode === "serve" %}
		<link rel="stylesheet" href="styles.css">
{%- else  %}
		<style>{% getBundle "css" %}</style>
{%- endif %}