{# Fonts #}
<link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css?family=instrument-sans:500,500i,600,600i,700,700i" rel="stylesheet" />

{# Styles #}
{%- if eleventy.env.runMode === "serve" %}
	<link rel="stylesheet" href="styles.css">
{%- else  %}
	<style>{% getBundle "css", "bundled" %}</style>

  {% css "bundled" %}
    {% include "css/styles.css" %}
  {% endcss %}

{%- endif %}