<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="robots" content="noai,noimageai">

    {# 1 - metadata #}
    {% include 'head/meta.njk' %}

    {# 2 - inline js #}
    {% include 'head/js-inline.njk' %}

    {# 3 - styles #}
    {% include 'head/styles.njk' %}

  </head>
  <body>

    {% include 'partials/header/header.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p class="tob-copyright">Copyright © Tobias Beise Ulrich 2024</p>
    </footer>

  </body>
</html>