<!DOCTYPE html>
<html data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="robots" content="noai,noimageai">

    {% include 'head/meta.njk' %}
    {% include 'head/styles.njk' %}

  </head>
  <body>
{{ content | safe }}
  </body>
</html>